<h1>Edit this Item</h1>
<% if flash.has?(:message) %>
  <p><%= flash[:message] %> </p>
<% end %>

<div class="form-bottom">
  <form role="form" action="/items/<%= @item.id%>" method="post" class="signup-form">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <div class="form-group">
      <label class="sr-only" for="form-description">Description</label>
      <input type="text" name="description" placeholder="Description" class="form-description form-control" id="form-description" value="<%= @item.description%>">
    </div>

    <div class="form-group">
      <label class="sr-only" for="form-amount">Amount</label>
      <input type="text" name="amount" placeholder="Amount" class="form-amount form-control" id="form-amount" value="<%= @item.amount%>">
    </div>

    <div class="form-group">
      <label>List</label>
      <select name="list_name">
        <% current_user.lists_sort_by_name.each do |list| %>
          <option  name="list_name" <%='selected' if @list.name == list.name %>><%= list.name %></option>
        <%end%>
      </select>
    </div>


      <button type="submit" class="btn">Update</button>
  </form>
  <br>

  <form action="/items/<%= @item.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">Delete Item</button>
  </form>

</div>