<h2>Item Count</h2>
<h3>Description</h3>
<p ><%= @item.description %></p>
<h3>Amount</h3>
<p ><%= @item.amount %></p>
<h3>Date</h3>
<p ><%= @item.date %></p>
<h3>List</h3>
<p ><%= @item.list.name %></p>
<a href="/items/<%= @item.id %>/edit"> Edit Item </a>
<hr>
<a href="/items"> View Items</a>
        
<form action="/items/<%= @item.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete Item</button>
</form>