<h1>Item Lists</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %> </p>
<% end %>

<table class="table table-hover table-striped" >
  <tr class="info">
    <th><h3>Name</h3></th>
    <th><h3>Items</h3></th>
    <th><h3>Total</h3></th>
    <th><h3>Edit</h3></th>
    <th><h3>Delete</h3></th>
  </tr>
    <% current_user.lists_sort_by_name.each do |list| %>
      <tr style="text-align:left;">
        <td><a href="lists/<%= list.id %>"><%= list.name %></a></td>
        <td><a href="lists/<%= list.id %>"><%= list.items.size %></a></td>
        <td><a href="lists/<%= list.id %>/edit">Edit </a></td>
        <td><form action="/lists/<%= list.id %>/delete" method="post">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form></td>
      </tr>
    <% end %>
</table>

<div class="form-top">
  <div class="form-top-left">
    <h3>Create List</h3>
  </div>
</div>


<form  action="/lists" method="post" >
  <div class="form-group">
    <label class="sr-only" for="form-description">Name</label>
    <input type="text" name="name" placeholder="List Name:" class="form-name form-control" id="form-name" >
  </div>
  <button type="submit" class="btn btn-success">Create</button>
</form> 