<h1><%= @list.name %> items are <%= @list.items.collect {|e| e.amount}.sum %></h1>
<% if flash.has?(:message) %>
  <p><%= flash[:message] %> </p>
<% end %>
<table class="table table-hover table-striped" >
  <tr class="info">
    <th><h3>Description</h3></th>
    <th><h3>Amount</h3></th>
    <th><h3>Date</h3></th>
    <th><h3></h3></th>
  </tr>
    <% @list.items_sort_by_date.each do |item| %>
      <tr style="text-align:left;">
        <td><%= item.description %></td>
        <td> <%= item.amount %></td>
        <td><%= item.date %></td>
        <td><a href="items/<%= item.id %>/edit">Edit</a></td>
      </tr>
    <% end %>
</table>